* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --main-color: black;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #333;
    margin: 1rem;
}

#buscador {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-buscar {
    width: 80%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
}

#boton-buscar {
    width: 10%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

#listado {
    max-width: 1200px;
    margin: 0 auto;
}

#listado h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
}

#tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.tarjeta {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tarjeta img {
    width: 100%;
}

.tarjeta h3 {
    text-align: center;
}

/* Responsive estructura */
nav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: var(--main-color); 
    padding: 10px; 
}

nav ul {
    display: flex;
    list-style: none; 
}

nav li {
    margin-right: 20px; 
}

nav a {
    color: white; 
    text-decoration: none;
}

nav a:hover {
    color: black;
}

footer {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: var(--main-color); 
    padding: 10px; 
}

footer p {
    color: white; 
}


@media (max-width: 768px) { 
    nav {
        flex-direction: column; 
    }
    nav ul {
        flex-direction: column; 
    }
    nav li {
        width: 100%;
        text-align: center;
    }

}